.root {
    -fx-font-family: 'Arial';
}

.step-description {
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-padding: 40px;
    -fx-text-alignment: center;
}

.turn-counter {
    -fx-font-weight: bold;
    -fx-padding: 15px;
}

/* Добавим стили для выравнивания текста */
.faction-name {
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-font-size: 26px; /* Увеличим немного */
}

.stage-name {
    -fx-padding: 15px;
    -fx-font-size: 24px; /* Увеличим немного */
    -fx-font-weight: bold; /* Сделаем полужирным */
}

.step-counter {
    -fx-padding: 15px;
    -fx-font-size: 22px;
}

/* Увеличим отступы между элементами */
.top-center-panel > * {
    -fx-padding: 8px 0;
}

.btn {
    -fx-background-radius: 20px;
}

.btn-success {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
}

.btn-secondary {
    -fx-background-color: #95a5a6;
    -fx-text-fill: white;
}

/* Новый стиль для синей кнопки */
.btn-primary {
    -fx-background-color: #3498db; /* Синий цвет */
    -fx-text-fill: white;
}

/* Стили для кнопки "Начать игру" */
.btn-start {
    -fx-font-size: 24px;
    -fx-padding: 15px 40px;
    -fx-min-width: 250px;
    -fx-min-height: 60px;
    -fx-background-radius: 30px;
}

/* Эффект при наведении */
.btn-primary:hover {
    -fx-background-color: #2980b9; /* Темнее на 10% */
    -fx-cursor: hand;
}

/* Эффект при нажатии */
.btn-primary:pressed {
    -fx-background-color: #1c6ea4; /* Еще темнее */
}

/* Анимация перехода цвета */
.btn-primary {
    -fx-transition: background-color 0.3s;
}